<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
        <listener class-name="com.automate.listeners.CustomExtentListener"/>
    </listeners>
  <test  name="Test">
    <classes>
 
  <class name="com.tests.MRO"/>
  
  
     </classes>  
   
  </test> <!-- Test -->
</suite> <!-- Suite -->

 